/*
File Name: simon.css
Date: 12/17/2016
Programmer: Jim Medlock
*/

html {
    font-family: 'Josefin Sans', serif;
    min-height: 100%;
    position: relative;
}

body {
    background-color: #505455;
    color: #8B8E8F;
    margin-top: 0px;
    margin-bottom: 60px;
}

h3 {
    color: white;
    margin-top: 5px;
}

th {
    color: black;
    text-align: center;
}


/* ---------------------------------------------
   Common elements used throughout the page
   --------------------------------------------- */

.si-bar-row {
    display: block;
    margin-top: 10px;
}

.si-btn {
    background-color: #CDE0E2;
    border-color: black;
    color: #225F65;
    font-size: small;
    margin-right: 10px;
}

.si-small-text {
    font-size: 50%;
}


/* ---------------------------------------------
   Page title
   --------------------------------------------- */

.si-jumbotron {
    background-color: #659599;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.50);
    color: #808D94;
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}


/* ---------------------------------------------
   Game Board
   --------------------------------------------- */

.si-graphic {
    height: 100%;
    position: relative;
    vertical-align: middle;
    width: 100%;
}

.si-graphic > h5 {
    color: black;
    margin-top: 2px;
}

.si-outer-circle {
    background: black;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    height: 460px;
    width: 460px;
}

.si-outer-circle-border {
    position: relative;
    border: 1px solid gray;
    border-radius: 230px;
    overflow: hidden;
}

.si-outer-circle-fill {
    top: 0;
    left: 0;
    background-color: black;
}

.si-inner-circle {
    background: yellow;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 125px;
    height: 210px;
    position: absolute;
    vertical-align: middle;
    width: 210px;
}

.si-inner-circle-border {
    border: 1px solid gray;
    border-radius: 105px;
    overflow: hidden;
    position: relative;
}

.si-inner-circle-fill {
    background-color: silver;
}

.si-inner-circle > h2 {
    color: black;
    margin-top: 20px;
}

.si-score-display {
    background: black;
    border: 1px solid saddlebrown;
    color: red;
    height: 36px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 60px;
}

.si-score-display > h3 {
    color: red;
}

.si-start-circle {
    background: firebrick;
    color: black;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    height: 26px;
    position: absolute;
    vertical-align: middle;
    width: 52px;
}

.si-start-circle-border {
    border: 1px solid saddlebrown;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.si-start-circle-fill {
    background-color: firebrick;
}

.si-start-circle > h5 {
    color: black;
}

.arc {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: auto;
    margin-bottom: auto;
    width: 440px;
    height: 440px;
    border-radius: 50%;
    border: 100px dashed red;
    position: absolute;
}

/* ---------------------------------------------
   Page footer
   --------------------------------------------- */

.si-bottom-bar {
    bottom: 0;
    background-color: #0A3C41;
    color: white;
    height: 60px;
    padding-left: 10px;
    padding-bottom: 5px;
    position: absolute;
    width: 100%;
}

.si-bottom-bar a {
    color: white;
    font-size: small;
    margin-left: 0px;
    padding-top: 0px;
    padding-left: 3px;
    padding-right: 2px;
}
