/*
File Name: simon.css
Date: 12/17/2016
Programmer: Jim Medlock
*/

html {
    font-family: 'Josefin Sans', serif;
    min-height: 100%;
    position: relative;
}

body {
    background-color: #505455;
    color: #8B8E8F;
    margin-top: 0px;
    margin-bottom: 60px;
}

h3 {
    color: white;
    margin-top: 5px;
}

th {
    color: black;
    text-align: center;
}


/* ---------------------------------------------
   Common elements used throughout the page
   --------------------------------------------- */

.si-bar-row {
    display: block;
    margin-top: 10px;
}

.si-small-text {
    font-size: 50%;
}


/* ---------------------------------------------
   Page title
   --------------------------------------------- */

.si-jumbotron {
    background-color: #659599;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.50);
    color: #808D94;
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}


/* ---------------------------------------------
   Game Board
   --------------------------------------------- */

.si-graphic {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    vertical-align: middle;
    width: 100%;
}

.si-graphic > h5 {
    color: black;
    margin-top: 2px;
}

.si-outer-circle {
    background: black;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    height: 460px;
    width: 460px;
}

.si-outer-circle-border {
    position: relative;
    border: 2px solid gray;
    border-radius: 230px;
    overflow: hidden;
}

.si-outer-circle-fill {
    top: 0;
    left: 0;
    background-color: black;
}

.si-inner-circle {
    background: silver;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    height: 210px;
    position: absolute;
    vertical-align: middle;
    width: 210px;
}

.si-inner-circle-border {
    border: 1px solid gray;
    border-radius: 105px;
    overflow: hidden;
    position: relative;
}

.si-inner-circle > h2 {
    color: black;
    margin-top: 20px;
}

.si-score-display {
    background: black;
    border: 1px solid saddlebrown;
    color: red;
    height: 36px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 60px;
}

.si-score-display > h3 {
    color: red;
}

.si-btn-circle {
    background: firebrick;
    color: black;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    height: 26px;
    position: absolute;
    vertical-align: middle;
    width: 52px;
}

.si-btn-circle-border {
    border: 1px solid saddlebrown;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.si-btn-circle-fill {
    background-color: firebrick;
}

.si-btn-circle > h5 {
    color: black;
}

.si-main {
	position:absolute;;
	width: 415px;
	height: 415px;
	margin-top: 22px;
  margin-left: 20px;
  margin-right: auto;
  margin-bottom: auto;
}

.si-quarter {
	position:absolute;
	width: 50%;
	height: 50%;
	transition: background-color 0.2s ease-in-out;
}
.si-quarter:hover {
	background-color: pink;
}
.si-quarter1 {
	top: 0;
	left: 0;
	background-color: red;
	border-radius: 100% 0 0 0;
}

.si-quarter2 {
	top: 0;
	right: 0;
	background-color: blue;
	border-radius: 0 100% 0 0 ;
}

.si-quarter3 {
	bottom: 0;
	left: 0;
	background-color: orange;
	border-radius: 0 0 0 100%;
}

.si-quarter4 {
	bottom: 0;
	right: 0;
	background-color: green;
	border-radius: 0 0 100% 0 ;
}

.si-cutout {
	width: 50%;
	height: 50%;
	background-color: transparent;
	position: absolute;
	top: 25%;
	left: 25%;
	border-radius: 50%;
	pointer-events: none;
}

.si-inset-circle {
    background: black;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 81px;
    height: 240px;
    position: absolute;
    vertical-align: middle;
    width: 240px;
}

.si-inset-circle-border {
    border: 1px solid gray;
    border-radius: 160px;
    overflow: hidden;
    position: relative;
}

/* ---------------------------------------------
   Page footer
   --------------------------------------------- */

.si-bottom-bar {
    bottom: 0;
    background-color: #0A3C41;
    color: white;
    height: 60px;
    padding-left: 10px;
    padding-bottom: 5px;
    position: absolute;
    width: 100%;
}

.si-bottom-bar a {
    color: white;
    font-size: small;
    margin-left: 0px;
    padding-top: 0px;
    padding-left: 3px;
    padding-right: 2px;
}
