/*
File Name: simon.css
Date: 12/17/2016
Programmer: Jim Medlock
*/

html {
    font-family: 'Josefin Sans', serif;
    min-height: 100%;
    position: relative;
}

body {
    background-color: #505455;
    color: #8B8E8F;
    margin-top: 0px;
    margin-bottom: 60px;
}

h3 {
    color: white;
    margin-top: 5px;
}

th {
    color: black;
    text-align: center;
}


/* ---------------------------------------------
   Common elements used throughout the page
   --------------------------------------------- */

.si-bar-row {
    display: block;
    margin-top: 10px;
}

.si-small-text {
    font-size: 50%;
}


/* ---------------------------------------------
   Page title
   --------------------------------------------- */

.si-jumbotron {
    background-color: #659599;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.50);
    color: #808D94;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    width: 100%;
}


/* ---------------------------------------------
   Game Board
   --------------------------------------------- */

.si-graphic {
    display: inline-block;
    height: 100%;
    margin: auto;
    position: relative;
    text-align: center;
    width: 100%;
}

.si-graphic > h5 {
    color: black;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
}

.si-outer-circle {
    background: black;
    height: 420px;
    margin:auto;
    margin-top: 2%;
    vertical-align: middle;
    width: 420px;
}

.si-outer-circle-border {
    position: relative;
    border: 2px solid silver;
    border-radius: 50%;
    overflow: hidden;
}

.si-outer-circle-fill {
    top: 0;
    left: 0;
    background-color: black;
}

/* Game Control Circle */

.si-inner-circle {
    background: silver;
    height: 52%;
    margin-top: 25.4%;
    position: absolute;
    vertical-align: middle;
    width: 52%;
}

.si-inner-circle-border {
    border: 1px solid gray;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
}

.si-inner-circle > h2 {
    color: black;
    margin-top: 20px;
}

/* Inner Circle Controls */

.si-score-display {
    background: black;
    border: 1px solid saddlebrown;
    color: red;
    height: 36px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 40%;
}

.si-score-display > h3 {
    color: red;
}

.si-score-flash {
  animation: si-score-blink .25s linear infinite;
}

@keyframes si-score-blink {
  50% { opacity: 0; }
}

.si-game-title > h2 {
  color: black;
  margin-top: 0px;
  margin-bottom: 0px;
}

.si-btn-circle {
    background-color: hsl(0, 100%, 60%) !important;
    color: black;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    max-height: 1.75em;
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    position: absolute;
    vertical-align: middle;
    max-width: min-content;
}

.si-btn-circle-border {
    border: 1px solid saddlebrown;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.si-btn-circle > h5 {
    color: black;
    margin:auto;
}

.si-btn-active {
   background-color: hsl(133, 100%, 35%) !important;
}

.si-btn-inactive {
   background-color: hsl(0, 100%, 60%) !important;
}

#si-btn-onoff {
  margin-top: 5%;
}

#si-btn-start {
  margin-top: 2%;
  margin-left: 1%;
  margin-right: 15%;
}

#si-btn-strict {
  margin-top: 2%;
  margin-left: 15%;
  margin-right: 1%;
}
#si-btn-help {
  background: hsl(199, 100%, 50%) !important;
  margin-top: 2%;
}


/* Player Response Buttons */

.si-player-resp-btns {
	position:absolute;
   margin-top: 3%;
   margin-left: 3%;
   height: 94%;
   width: 94%;
   vertical-align: middle;
}

.si-quarter {
	position:absolute;
	width: 50%;
	height: 50%;
	transition: background-color 0.2s ease-in-out;
}

.si-btn-red {
	top: 0;
	left: 0;
	background-color: red;
	border-radius: 100% 0 0 0;
}

.si-btn-red-highlighted {
	background-color: hotpink;
}

.si-btn-blue {
	top: 0;
	right: 0;
	background-color: blue;
	border-radius: 0 100% 0 0 ;
}

.si-btn-blue-highlighted {
	background-color: lightblue;
}

.si-btn-green {
	bottom: 0;
	right: 0;
	background-color: green;
	border-radius: 0 0 100% 0 ;
}

.si-btn-green-highlighted {
	background-color: lightgreen;
}

.si-btn-yellow {
	bottom: 0;
	left: 0;
	background-color: orange;
	border-radius: 0 0 0 100%;
}

.si-btn-yellow-highlighted {
	background-color: lemonchiffon;
}

.si-cutout {
	width: 50%;
	height: 50%;
	background-color: transparent;
	position: absolute;
	top: 25%;
	left: 25%;
	border-radius: 50%;
	pointer-events: none;
}

.si-inset-circle {
    background: black;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 81px;
    height: 240px;
    position: absolute;
    vertical-align: middle;
    width: 240px;
}

.si-inset-circle-border {
    border: 1px solid transparent;
    border-radius: 160px;
    overflow: hidden;
    position: relative;
}

/* Player Response Button Separators */

.si-player-resp-sep {
   background: black;
   background-color: black;
	 position:absolute;
   vertical-align: middle;
}

.si-player-resp-sep-top {
   margin-top: 0;
   margin-left: 47%;
   height: 105px;
   width: 20px;
}

.si-player-resp-sep-left {
   margin-top: 47%;
   margin-left: 0;
   height: 20px;
   width: 105px;
}

.si-player-resp-sep-right {
   margin-top: 47%;
   margin-left: 76%;
   height: 20px;
   width: 105px;
}

.si-player-resp-sep-bottom {
   margin-top: 76%;
   margin-left: 47%;
   height: 105px;
   width: 20px;
}

/* ---------------------------------------------
   Common Modal Dialog Settings
   --------------------------------------------- */

.si-dialog-open {
    margin-top: 10px;
}

.si-dialog-body {
    background-color: rgb(0, 0, 0);        /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);  /* Black w/ opacity */
    display: none;        /* Hidden by default */
    height: 100%;          /* Full height */
    left: 0;
    top: 0;
    overflow: auto;       /* Enable scroll if needed */
    padding-top: 15%;
    position: fixed;      /* Stay in place */
    width: 100%;          /* Full width */
    vertical-align: middle;
    z-index: 1;           /* Sit on top */
}

/* Modal Content */

.si-dialog-content {
    background-color: #fefefe;
    border: 1px solid #888;
    color: black;
    margin: auto;
    padding: 10px;
    text-align: left;
    width: 60%;
}

.si-dialog-content>h3 {
    color: black;
}


/* The Close Button */

.si-dialog-close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.si-dialog-close:hover, .si-dialog-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* ---------------------------------------------
   Modal help dialog
   --------------------------------------------- */
#si-help-dialog .si-dialog-content {
   width: min-content;
}

/* ---------------------------------------------
   Page footer
   --------------------------------------------- */

.si-bottom-bar {
    bottom: 0;
    background-color: #0A3C41;
    color: white;
    max-height: 60px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
    position: absolute;
    text-align: center;
    width: 100%;
}

.si-bottom-bar a {
    color: white;
    font-size: small;
}
